body {
    background-color: #98A8F8;
}

button {
    background-color: #CDFCF6;
    border: none;
    border-radius: 10px;
    font-family: "Quicksand";
    font-size: 15px;
    color: #98A8F8;
    box-shadow: 3px 3px #97f8ed;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}


button:hover {
    background-color: #baf0e9;
    box-shadow: 3px 3px #9ee9e0;
    cursor: pointer;
    transform: scale(0.9);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

button:active {
    transform: scale(0.8);
    -webkit-transition: all 0.05s ease-out;
    -moz-transition: all 0.05s ease-out;
    -o-transition: all 0.05s ease-out;
    transition: all 0.05s ease-out;
}

.button-container {
    background-color: #BCCEF8;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 40px;
    box-shadow: 7px 7px #adc3f8;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
}

.number {
    margin: 5px;
    height: 80px;
    width: 80px;
    font-size: 20px;
    text-shadow: 1px 1px #7385db;
}

.oper {
    margin: 5px;
    height: 80px;
    width: 80px;
    font-size: 20px;
    text-shadow: 1px 1px #7385db;
}

.other {
    margin: 5px;
    height: 40px;
    width: 170px;
    font-size: 20px;
    text-shadow: 1px 1px #7385db;
}

.display {
    height: 80px;
    width: 350px;
    background-color: #9e9e9e;
    border-radius: 15px;
    margin: 5px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: right;
    box-shadow: 4px 4px #adc3f8;
}

.inner-content {
    padding-right: 8px;
    color: white;
    font-family: "Quicksand";
    font-size: 40px;
}

.copyright {
    display: inline-block;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;

    font-family: "Quicksand";
    color: white;
}

.copyright {
    display: flex;
    justify-content: center;
    margin-left: 5px;
}

.github {
    height: 25px;
}